/* Style du BorderPane */
#borderPane {
    -fx-background-color: #f5f5f5; /* Couleur de fond */
}

/* Style de la MenuBar */
.menu-bar {
    -fx-background-color: #333; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
}

/* Style des MenuItem */
.menu-bar .menu-item {
    -fx-text-fill: white; /* Couleur du texte */
}

/* Style des boutons */
.button {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-padding: 10px 20px; /* Espacement intérieur */
    -fx-border-radius: 10px; /* Coins arrondis */
    -fx-background-radius: 10px; /* Coins arrondis */
    -fx-border-color: #4CAF50; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Effet d'ombre */
}

/* Style des boutons au survol */
.button:hover {
    -fx-background-color: #45a049; /* Changement de couleur au survol */
    -fx-border-color: #45a049; /* Changement de couleur de la bordure au survol */
}
