/* Style the form background */
.form {
    -fx-background-image: url('Images/back.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Transparent grey color */
}
/* Style des étiquettes */
.label {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 24px;
    -fx-text-fill: #242423; /* Couleur de texte gris foncé */
}

/* Style des champs de texte */
.text-field {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #999; /* Couleur de texte gris clair pour l'invite */
    -fx-background-color: #fff; /* Fond blanc */
    -fx-background-radius: 25px; /* Coins arrondis */
    -fx-border-color: #ccc; /* Bordure gris clair */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 25px; /* Coins arrondis */
}

/* Style des boutons */
.button {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #fff; /* Texte blanc */
    -fx-background-color: #4CAF50; /* Fond vert */
    -fx-background-radius: 25px; /* Coins arrondis */
    -fx-border: none; /* Pas de bordure */
    -fx-cursor: hand; /* Curseur de la main au survol */
    -fx-padding: 10px 20px; /* Ajout de marge interne */
}

/* Style des boutons au survol */
.button:hover {
    -fx-background-color: #45A049; /* Fond vert légèrement plus foncé */
}

/* Style des listes déroulantes */
.combo-box {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-background-color: #fff; /* Fond blanc */
    -fx-background-radius: 25px; /* Coins arrondis */
    -fx-border-color: #ccc; /* Bordure gris clair */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 25px; /* Coins arrondis */
}

/* Style des options de la liste déroulante */
.combo-box .list-cell {
    -fx-text-fill: #555; /* Texte gris foncé */
}

/* Style des options de la liste déroulante au survol */
.combo-box .list-cell:hover {
    -fx-background-color: #f0f0f0; /* Fond gris très clair au survol */
}

/* Animation du bouton */
.button {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    /* Ombre portée légère */
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0); /* Ombre portée légère au survol */
}
/* Style pour les DatePicker */
/* Style pour les DatePicker */
.date-picker .date-cell {
    -fx-font-size: 14px;
    -fx-text-fill: #333; /* Couleur de texte gris */
}

/* Style pour les éléments de date sélectionnés */
.date-picker .selected-date-cell {
    -fx-background-color: #4CAF50; /* Fond vert pour les dates sélectionnées */
    -fx-text-fill: #fff; /* Texte blanc pour les dates sélectionnées */
}


