.root {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-width: 800px;
    -fx-pref-height: 500px;
}
.table-view {
    -fx-background-color: #ffffff; /* Couleur de fond blanc */
    -fx-border-color:  #2E714A; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 10px; /* Coins arrondis */
}

.table-view .column-header-background {
    -fx-background-color:  #2E714A; /* Couleur de fond verte pour l'en-tête de colonne */
    -fx-background-radius: 10px 10px 0px 0px; /* Coins arrondis */
    -fx-transition: all 0.3s; /* Animation de transition */
}

.table-view .column-header:hover {
    -fx-background-color:  #2E714A; /* Changement de couleur au survol */
    -fx-translate-y: -5px; /* Animation de translation */
}

.table-view .column-header {
    -fx-background-color:  #2E714A; /* Couleur de fond verte pour l'en-tête de colonne */
    -fx-text-fill: white; /* Couleur du texte blanc */
    -fx-font-weight: bold; /* Texte en gras */
}

.table-view .table-cell {
    -fx-background-color: transparent; /* Couleur de fond semi-transparente pour les cellules */
    -fx-border-color:  #2E714A; /* Couleur de la bordure */
    -fx-border-width: 0px 0px 2px 0px; /* Largeur de la bordure (bas) */
    -fx-padding: 15px; /* Espacement intérieur */
    -fx-text-fill: #333333; /* Couleur du texte */
}

.table-row-cell:hover {
    -fx-background-color: #f0f0f0; /* Couleur de fond gris clair au survol */
}

/* side bar */
.sidebar {
    -fx-background-color:  #2E714A;
    -fx-background-radius: 10;
    -fx-pref-height: 300.0;
    -fx-pref-width: 150.0;
}
.sidebar-label {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 5;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
    -fx-transition-duration: 0.3s;
    -fx-font-size: 16px;
}

.sidebar-label:hover {
    -fx-background-color:#ffffff;
    -fx-effect: dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0);
}

.sidebar-list {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-max-height: 250.0;
}

.sidebar-list .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
}

.sidebar-list .list-cell:hover {
    -fx-background-color: #34495e;
    -fx-cursor: hand;
}
.middle-container {
    -fx-background-image: url('Images/back.jpg');
    -fx-background-color: rgba(128, 128, 128, 0.5);
    -fx-padding: 20px 20px;
}
.image-container {
    -fx-padding: 10px;
}
.image-wrapper {
    -fx-background-color: white;
    -fx-background-radius: 10%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.scroll-gestion{
    -fx-background-color: transparent;
}
.scroll-gestion .viewport{
    -fx-background-color: transparent;
}
.user_conso {
    -fx-background-color: rgba(0, 128, 0, 0.5);
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.user_conso Label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}
.button-home {
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #28a745;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-transition: all 0.5s;
}
.button-liste {
        -fx-font-size: 14px;
        -fx-padding: 5px 5px;
        -fx-background-color: #28a745;
        -fx-text-fill: white;
        -fx-border-radius: 5px;
        -fx-border-width: 2px;
        -fx-border-color: #28a745;
        -fx-cursor: hand;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
        -fx-transition: all 0.5s;
}
.containerView {
    -fx-background-color: rgba(128, 128, 128, 0.1);
    -fx-border-radius: 10px;
    -fx-border-color: grey;
    -fx-border-width: 1px;
}
.button-home:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #28a745;
    -fx-border-color: #28a745;
}
/* Style pour les DatePicker */
/* Style pour les DatePicker */
.date-picker .date-cell {
    -fx-font-size: 14px;
    -fx-text-fill: #333; /* Couleur de texte gris */
}

/* Style pour les éléments de date sélectionnés */
.date-picker .selected-date-cell {
    -fx-background-color: #4CAF50; /* Fond vert pour les dates sélectionnées */
    -fx-text-fill: #fff; /* Texte blanc pour les dates sélectionnées */
}

/* Style des étiquettes */
.label {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 18px;
}

.item-container {
    -fx-background-color: #ddd;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

/* Style for the text fields within the item container */
.container-view {
    -fx-background-color: rgba(128, 128, 128, 0.1);
    -fx-border-radius: 10px;
    -fx-border-width: 0px;
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-spacing: 20px;
}
.Titre {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 36px;
    -fx-text-fill: #FFFFF0;
}
#itemBox {
    -fx-background-color: linear-gradient(to bottom, #8BC34A, #4CAF50);
    -fx-padding: 10px; /* Add padding */
    -fx-spacing: 15px; /* Add spacing between children */
    -fx-border-color: #fff; /* Set border color */
    -fx-border-width: 1px; /* Set border width */
    -fx-border-radius: 5px; /* Set border radius */
}

#itemBox TextField {
    -fx-background-color: transparent; /* Make TextField background transparent */
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-size: 14px; /* Adjust font size */
    -fx-prompt-text-fill: #999999; /* Set prompt text color */
    -fx-border-color: #CCCCCC; /* Add border color */
    -fx-border-radius: 5px; /* Add border radius */
    -fx-border-width: 1px; /* Add border width */
    -fx-padding: 5px; /* Add padding */
}

/* Style des listes déroulantes */
.combo-box {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-background-color: #fff; /* Fond blanc */
    -fx-background-radius: 25px; /* Coins arrondis */
    -fx-border-color: #ccc; /* Bordure gris clair */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 25px; /* Coins arrondis */
}

/* Style des options de la liste déroulante */
.combo-box .list-cell {
    -fx-text-fill: #555; /* Texte gris foncé */
}
.suivre-label{
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}
/* Style des options de la liste déroulante au survol */
.combo-box .list-cell:hover {
    -fx-background-color: #f0f0f0; /* Fond gris très clair au survol */
}
/* Style pour les DatePicker */
.date-picker .date-cell {
    -fx-font-size: 14px;
    -fx-text-fill: #333; /* Couleur de texte gris */
}

/* Style pour les éléments de date sélectionnés */
.date-picker .selected-date-cell {
    -fx-background-color: #4CAF50; /* Fond vert pour les dates sélectionnées */
    -fx-text-fill: #fff; /* Texte blanc pour les dates sélectionnées */
}
/* Style des étiquettes */
.label {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 18px;
}

/* Style des champs de texte */
.text-field {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #999; /* Couleur de texte gris clair pour l'invite */
    -fx-background-color: #fff; /* Fond blanc */
    -fx-background-radius: 25px; /* Coins arrondis */
    -fx-border-color: #ccc; /* Bordure gris clair */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 25px; /* Coins arrondis */
}
/* challenges */
.card {
    -fx-background-color: rgba(0, 128, 0, 0.2);
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-transition-duration: 0.3s;
}

.card:hover {
    -fx-background-color: rgba(0, 128, 0, 0.2); /* Transparent green */
    -fx-border-color: #00FF00; /* Green */
    -fx-cursor: hand;
}
.title-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 5px 0;
}

.subtitle-label {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-padding: 5px 0;
}
/* Rest of the CSS code */
/* ... */